* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    background-color: #226CE0;
    color: whitesmoke;
    height: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
}

.choice {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.choice:hover {
    opacity: 0.5;
    cursor: pointer;
}

.img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 90%;
}

.choices {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.7%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;

}

#user-score, #comp-score {
    font-size: 80px;
}

.msg-container{
    margin-top: 3.5rem;
    
} 

.msg {
    font-size: 50px;
    background-color: #7BE0AD;
    display: inline;
    border-radius: 10px;
    
}